.mt-100px {
  margin-top: 100px;
}

.height-150px {
  height: 150px;
}

.width-250px {
  width: 250px;
}

.width-200px {
  width: 200px;
}

.width-150px {
  width: 150px;
}

.width-120px {
  width: 120px;
}

.width-100px {
  width: 100px;
}

.size35x35 {
  width:  35px;
  height: 35px;
}

.size255x255 {
  width:  255px;
  height: 255px;
}
